/* CSS Document */
body{ width:100%; height:100%; position:absolute;}
.category_main{ width:100%; /*height:100%;*//*去掉这个样式*/ max-width:7.5rem; min-width:3.2rem;position:absolute; left:50%; transform:translateX(-50%); background:#eeeeee; overflow:hidden;top:0.88rem;bottom:1rem;  }
.category_main .category_nav{ width:1.9rem; height:100%; overflow-y:auto; background:rgba(255,255,255,1); float:left;}
.category_main .category_nav ul{ width:100%; height:100%;}
.category_main .category_nav ul li{ width:100%; height:1.06rem; border-bottom:0.02rem solid #ededed; text-align:center; line-height:1.06rem;}
.category_main .category_nav ul li a{ display:block;}
.category_main .category_nav ul li a.on{ background:#eeeeee; border-left:0.06rem solid #ff6699; color:#ff6699;}

.category_main .category_con{ width:5.54rem; height:100%; overflow-y:auto; background:rgba(255,255,255,1); float:right;  overflow-x:hidden;}

.category_main .category_con  .cat_banner{ width:100%;}
.category_main .category_con  .cat_banner a{ width:100%;}
.category_main .category_con  .cat_banner img{ width:100%; height:auto;}

.category_main .category_con .cat_zc{ width:100%;}
.category_main .category_con .cat_zc dt{ width:100%; height:0.8rem; line-height:0.8rem; font-size:0.24rem; }
.category_main .category_con .cat_zc dd{ width:100%; background:rgba(255,255,255,1); }
.category_main .category_con .cat_zc dd ul{width:100%; height:100%;padding:1% 0 2% 0;}
.category_main .category_con .cat_zc dd li{width:32.64%; float:left; text-align:center; margin-right:1%; overflow:hidden;}
.category_main .category_con .cat_zc dd li:nth-child(3n){ margin-right:0;}
.category_main .category_con .cat_zc dd li img{ width:100%; height:100%; margin:0 auto;}

.category_main .category_con .cat_brand{ width:100%;}
.category_main .category_con .cat_brand dt{ width:100%; height:0.8rem; line-height:0.8rem; font-size:0.24rem; }
.category_main .category_con .cat_brand dd{ width:100%; background:rgba(255,255,255,1); }
.category_main .category_con .cat_brand dd ul{width:100%; height:100%;padding:1% 0 2% 0;}
.category_main .category_con .cat_brand dd li{width:32.64%; float:left; text-align:center; margin-right:1%; overflow:hidden;}
.category_main .category_con .cat_brand dd li:nth-child(3n){ margin-right:0;}
.category_main .category_con .cat_brand dd li img{ width:100%; height:100%; margin:0 auto;}
	
