/* CSS Document */
/*tcceng*/
.mask{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.4); z-index:2000;}
.tcceng{ width:4.44rem; height:4.8rem; position:fixed; left:50%; top:50%; transform:translate(-50%,-50%); background:url(../images/tcceng.png) no-repeat; z-index:20001; background-size:100% 100%;}
.tcceng a{ width:0.54rem; height:0.54rem; display:block; position:
absolute; right:0; top:0;}

/*banner*/
.banner{ width:100%; }
.banner .swiper-container img{ width:100%;}
.banner .swiper-container .swiper-pagination-bullet{ width:0.2rem; height:0.2rem; opacity:0.4;}
.banner .swiper-container .swiper-pagination-bullet-active{ background: linear-gradient(#ed7098, #ce50ed);  opacity:1;}

/*nav style*/
nav{ width:100%; height:3rem; }
nav ul{ width:100%; height:100%;}
nav ul li{ width:20%; height:1.26rem; float:left; text-align:center; padding-top:0.24rem; margin-bottom:0.1rem;}
nav ul li a{ width:100%; height:100%; display:block;color:#353535;}
nav ul li a img{ margin:0 auto; width:0.8rem; height:0.8rem;}
nav ul li a p{ font-size:0.28rem; margin-top:0.02rem;}
/*m_show*/
.m_show{ width:100%; height:auto; }
.m_show a{ width:33.33%; height:auto; display:block; float:left;}
.m_show a img{ width:100%; height:auto;}
/*m_noitce*/
.m_notice{ width:100%; height:0.8rem; /*background:rgba(204,102,255,1);*/ padding:0 0.14rem;}
.m_notice h2{ width:32%; height:100%; float:left; line-height:0.8rem;}
.m_notice h2 span{ font-size:0.3rem;}
.m_notice h2 i{ color:#ff6699; font-size:0.3rem;}
.m_notice h2 b{ padding:0.02rem 0.12rem; background:#ff6699; color:#fff; font-size:0.28rem; border-radius:0.08rem; margin:0 0.06rem;}
.m_notice .notice{ width:68%; height:100%; float:right;}
.m_notice .notice .swiper-container { width:100%; height:100%;}
.m_notice .notice .swiper-container .swiper-slide{ width:100%; height:100%; line-height:0.8rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:0.28rem;}

/*m_seconds_kill*/
.m_seconds_kill{ width:100%; background:/*rgba(204,153,204,1);*/}
.m_seconds_kill .seconds_bt{ width:100%; height:0.92rem; /*background:rgba(0,102,204,1);*/ padding:0 0.1rem; display:flex;/*伸缩布局*/ line-height:0.92rem; border-bottom:0.02rem solid #f6f6f6;}
.m_seconds_kill .seconds_bt h2{ width:1.2rem; height:100%; font-size:0.3rem;}
.m_seconds_kill .seconds_bt .time_num{ flex:1;/*分配的比例*/ /*background:rgba(204,153,102,1);*/}
.m_seconds_kill .seconds_bt .time_num span{ font-size:0.26rem; margin:0 0.16rem 0 0.32rem;}
.m_seconds_kill .seconds_bt .time_num i{ font-style:normal; padding:0.02rem 0.12rem; background:#7e888a; color:#fff; font-size:0.3rem; border-radius:0.06rem; margin-right:0.08rem;}

.m_seconds_kill .seconds_bt a{ width:2.14rem; height:100%; display:block; font-size:0.24rem; color:#939393;}
.m_seconds_kill .seconds_con{ width:100%; height:3.84rem;/* background:rgba(153,153,255,1);*/ padding:0.1rem 0.1rem 0 0.1rem; }
.m_seconds_kill .seconds_con .swiper-slide img{ width:2rem; height:2rem;}
.m_seconds_kill .seconds_con .swiper-slide .name{ width:100%; height:0.64rem; font-size:0.24rem; margin-top:0.1rem;line-height:0.3rem;
display: -webkit-box;
-webkit-box-orient: vertical; 
-webkit-line-clamp: 2;   
overflow: hidden;
text-overflow:ellipsis;}
.m_seconds_kill .seconds_con .swiper-slide .price{ text-align:center; font-size:0.28rem; color:#fe0000; line-height:0.26rem; margin-top:0.1rem;}
.m_seconds_kill .seconds_con .swiper-slide .price s{ text-decoration:line-through; font-size:0.24rem;  color:#bbbbbb; }

.m_seconds_kill .swiper-container{ padding-bottom:0.4rem;}

/*m_adbanner*/
.m_adbanner{ width:100%;}
.m_adbanner img{ width:100%; max-width:100%;}

/*m_floor*/
.m_floor{ width:100%; height:auto; }
.m_floor .tit{ width:100%; height:0.98rem; background:#f8f8f8 url(../images/if_bg.png) no-repeat center center;
background-size:100% 100%; text-align:center; line-height:0.98rem; font-size:0.32rem; /*font-weight:200;*/
border-bottom:1px solid rgba(153,153,153,0.2);border-top:1px solid rgba(153,153,153,0.2);}
.m_floor .big_list{ width:100%; height:auto;}
/*big_list*/
.m_floor .big_list li{ width:50%; height:2.2rem; border-right:1px solid rgba(153,153,153,0.2);border-bottom:1px solid rgba(153,153,153,0.2); float:left; padding-left:0.1rem; padding-top:0.4rem; position:relative;/*参照*/}
.m_floor .big_list li:nth-child(2n){ border-right:0 none;}
.m_floor .big_list li .text{ width:100%; line-height:0.4rem; position:relative; z-index:11;}
.m_floor .big_list li .text p:nth-child(1){ font-size:0.28rem; color:#000;}
.m_floor .big_list li .text p:nth-child(2){ font-size:0.24rem; color:#5d5d5d;}
.m_floor .big_list li .text span{ background:#fe0000; color:#fff; font-size:0.24rem; padding:0.02rem 0.08rem;}
.m_floor .big_list li img{ width:auto; height:1.9rem; position:absolute; right:0.1rem; bottom:0.1rem; z-index:10;}

/*refind*/
.m_floor.refind{ width:100%; height:auto; }
.m_floor.refind .tit{ width:100%; height:0.98rem; background:#fff;
text-align:center; line-height:0.98rem; font-size:0.32rem; /*font-weight:200;*/
border-bottom:1px solid rgba(153,153,153,0.2);border-top:1px solid rgba(153,153,153,0); box-shadow:0 2px 1px  -1px rgba(51,51,51,0.4); position:relative;}
.refind .refind_con{
	width:100%; background:#eeeeee; padding-bottom:1%;}
.refind .refind_con li{ width:48.5%; height:5rem; background:rgba(255,255,255,1); overflow:hidden; float:left; margin-left:1% ; margin-top:1%;}
.refind .refind_con li a{ width:100%; height:100%; display:block;}
.refind .refind_con li a img{ width:auto; height:3.66rem;/*注意*/}
.refind .refind_con li a .name{ width:100%; height:0.64rem; font-size:0.24rem; margin-top:0.1rem;line-height:0.3rem;
display: -webkit-box;
-webkit-box-orient: vertical; 
-webkit-line-clamp: 2;   
overflow: hidden;
text-overflow:ellipsis; padding:0 0.1rem;}

.refind .refind_con li a .price{color:#ff659a; font-size:0.26rem; margin-top:0.1rem; padding:0 0.1rem;}



/*small_list*/
.m_floor .small_list{ width:100%; height:auto;}
.m_floor .small_list li{ width:25%; height:3rem; border-right:1px solid rgba(153,153,153,0.2);border-bottom:1px solid rgba(153,153,153,0.2); float:left; text-align:center; padding-top:0.1rem; position:relative;/*参照*/}
.m_floor .small_list li:nth-child(4n){ border-right:0 none;}
.m_floor .small_list li .text{ width:100%; line-height:0.4rem; position:relative; z-index:11;}
.m_floor .small_list li .text p:nth-child(1){ font-size:0.28rem; color:#000;}
.m_floor .small_list li .text p:nth-child(2){ font-size:0.24rem; color:#5d5d5d;}
.m_floor .small_list li .text span{ background:#fe0000; color:#fff; font-size:0.24rem; padding:0.02rem 0.08rem;}
.m_floor .small_list li img{ width:auto; height:1.8rem; position:absolute; left:50%; transform:translateX(-50%); bottom:0.1rem; z-index:10;}